<!DOCTYPE html>
<html>
<head>
  <title>Active model inherited partials</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "active_model/inherited_partials/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
